:root {
    --header-bg-color: #000000;
    --text-color: #ffffff;
    --link-hover-color: #08ddcb;
    --section-padding: 60px 20px;
}

html
{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    line-height: 1.6;
    font-weight: 100;
    font-size: 0.9em;
}

/* Header Bar */
.header-bar {
    background-color: var(--header-bg-color);
    text-align: center;
    padding: 16px 0px 8px 0px;
}

.header-logo
{
    width: 200px;
    margin: 8px;
}

.navigation a
{
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 0.9em;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0px 16px;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--link-hover-color);
}

/* Specific sections */
#lily
{
    background: linear-gradient(#01c1b1, #4b1367)
}

#songbirds
{
    background: linear-gradient(#c31157, #4f025c)
}

#ui-graph
{
    background-color: #191919;
}

#about
{
    background-color: #08ddcb;
}

#about h2
{
    color: #ffffff;
}

#privacy
{
    background-color: #FCFCFC;
    padding-top: 24px;
    color: black;
}

#privacy h2
{
    font-size: 1.6em;
}

/* Section */

.section
{
    padding: var(--section-padding);
}

.section-content
{
    max-width: 520px;
    margin: auto;
    text-align: center;
}

.section-image
{
    max-width: 100%;
}

.section-text
{
    font-size: 1.1em;
}

.section-text a
{
    font-size: 1.1em;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.section-text a:hover
{
    color: var(--link-hover-color);
}

.section-title
{
    font-size: 2.5em;
}

.section-embed
{
    max-width: 800px;
    margin: auto;
    padding: 20px 0px 0px 0px;
}

.embed-container
{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (height / width * 100) */
    height: 0;
    overflow: hidden;
    margin: 0 auto 30px auto;
}

.embed-container iframe
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.quote
{
    margin: 60px 0px 0px 0px;
    font-style: italic;
}

.quote img
{
    height: 28px;
}

.quote p
{
    margin: 8px 0px;
}

.quote h3
{
    margin: 0px;
}

#footer
{
    margin-top: 40px;
    font-size: 0.9em;
}
