:root {
    --header-bg-color: #000000;
    --text-color: #ffffff;
    --link-hover-color: #08ddcb;
    --section-padding: 60px 20px;
}

html
{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    line-height: 1.6;
    font-weight: 100;
    font-size: 0.9em;
}

/* Header Bar */
.header-bar {
    background-color: var(--header-bg-color);
    text-align: center;
    padding: 16px 0px 8px 0px;
}

.header-logo
{
    width: 200px;
    margin: 8px;
}

.navigation a
{
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 0.9em;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0px 16px;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--link-hover-color);
}

/* Specific sections */

#privacy
{
    background-color: var(--header-bg-color);
    padding-top: 10px;
}

#privacy h2
{
    font-size: 1.6em;
}

#about
{
    background-color: #08ddcb;
}

#about h2
{
    color: #ffffff;
}

/* Section */

.section
{
    padding: var(--section-padding);
}

.section-content
{
    max-width: 520px;
    margin: auto;
    text-align: center;
}

.section-title
{
    font-size: 2.5em;
}

#footer
{
    margin-top: 40px;
    font-size: 0.9em;
}
